---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de nosotros | Estudio de Desarrollo de Videojuegos">
  <main class="flex flex-col min-h-screen bg-black text-white">
    <!-- Hero Section con efecto de partículas de código -->
    <section class="relative flex items-center justify-center h-screen overflow-hidden">
      <video autoplay loop muted class="absolute w-full h-full object-cover opacity-40">
        <source src="/video/videowarani.mp4" type="video/mp4">
      </video>
      <div class="absolute inset-0 bg-gradient-to-b from-black/80 via-black/60 to-black z-10"></div>
      <div class="container mx-auto px-6 z-20 text-center">
        <h1 class="text-3xl sm:text-5xl md:text-6xl font-extrabold text-white mb-6 press-start-2p-regular tracking-tighter">
          WARANI<span class="text-red-600">STUDIOS</span>
        </h1>
        <p class="text-lg sm:text-xl text-gray-300 max-w-3xl mx-auto mb-8 leading-relaxed font-light">
          Forjando mundos digitales desde el código hasta la experiencia final. Somos desarrolladores, artistas y gamers construyendo el futuro del entretenimiento interactivo.
        </p>
        <div class="flex flex-wrap justify-center gap-4">
          <a href="#studio" class="inline-block py-3 px-6 text-lg font-bold text-black bg-white rounded-none border-2 border-white hover:bg-transparent hover:text-white transition-all duration-300 uppercase tracking-wide">
            Nuestro Estudio
          </a>
          <a href="#games" class="inline-block py-3 px-6 text-lg font-bold bg-red-600 text-white rounded-none border-2 border-red-600 hover:bg-transparent transition-all duration-300 uppercase tracking-wide">
            Nuestros Juegos
          </a>
        </div>
      </div>
      <div class="absolute bottom-10 left-0 right-0 mx-auto text-center z-20 animate-bounce">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mx-auto text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
        </svg>
      </div>
    </section>

    <!-- Sobre el Estudio -->
    <section id="studio" class="py-20 bg-black relative">
      <div class="absolute top-0 left-0 w-full h-24 bg-gradient-to-b from-black/0 to-black/100"></div>
      <div class="container mx-auto px-6 mt-10">
        <div class="flex flex-col md:flex-row gap-16 items-center">
          <div class="md:w-1/2">
            <h2 class="text-3xl sm:text-4xl font-extrabold mb-6 border-l-4 border-red-600 pl-6">SOBRE EL ESTUDIO</h2>
            <p class="text-lg mb-6 text-gray-300">
              Fundado en 2015 por un equipo de desarrolladores veteranos de la industria, WaraniStudios nació con una visión clara: crear experiencias de juego que desafíen los límites técnicos y narrativos.
            </p>
            <p class="text-lg mb-6 text-gray-300">
              Hemos sido finalistas en el Indie Prize USA 2019 y obtuvimos premios como: Mejor MIPYME 2019. Nuestros productos se venden a nivel mundial y ya tenemos muchos usuarios disfrutándolos. También hemos recibido el Reconocimiento del Congreso Nacional de la República del Paraguay por aporte a la cultura y por ser nombrados Jóvenes del año.
            </p>
            <p class="text-lg mb-8 text-gray-300">
              Nuestros videojuegos son reconocidos de interés cultural por la República del Paraguay y la Municipalidad de Asunción. Actualmente estamos trabajando en proyectos propios de camino a un futuro donde el Gaming Nacional tenga un lugar a nivel mundial.
            </p>
            </div>
          </div>
          <div class="md:w-1/2 relative">
            <div class="grid grid-cols-2 gap-4">
              <img src="/img/juego1.jpg" alt="Nuestro espacio de trabajo" class="w-full h-auto object-cover border-4 border-white transform rotate-3 shadow-2xl">
              <img src="/img/juego2.jpg" alt="Equipo trabajando" class="w-full h-auto object-cover border-4 border-white transform -rotate-2 shadow-2xl">
              <img src="/img/juego3.jpg" alt="Setup de testing" class="w-full h-auto object-cover border-4 border-white transform -rotate-3 shadow-2xl">
              <img src="/img/juego4.jpg" alt="Sesión de brainstorming" class="w-full h-auto object-cover border-4 border-white transform rotate-2 shadow-2xl">
            </div>
            <div class="absolute -bottom-5 -right-5 bg-red-600 p-4 z-10 shadow-xl">
              <p class="text-white font-bold">IDEAMOS. CREAMOS. EVOLUCIONAMOS.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- Equipo -->
<section class="py-20 bg-red-600 text-white relative z-779">
  <div class="absolute top-0 left-0 w-full overflow-hidden">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" class="text-black fill-current h-16 w-full">
      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"></path>
    </svg>
  </div>
  <div class="container mx-auto px-6 pt-10">
    <h2 class="text-3xl sm:text-4xl font-extrabold mb-16 text-center">NUESTRO EQUIPO</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Team Member 1 -->
      <div class="bg-black p-6 group relative overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 mb-6 overflow-hidden">
          <img src="/team/member1.jpg" alt="Ismael Pozzo" class="object-cover w-full h-full transform transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="text-xl font-bold mb-1">Ismael Pozzo</h3>
        <p class="text-red-500 mb-4"> CEO & Founder</p>
      </div>

      <!-- Team Member 2 -->
      <div class="bg-black p-6 group relative overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 mb-6 overflow-hidden">
          <img src="/team/member2.jpg" alt="Eduardo Benitez" class="object-cover w-full h-full transform transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="text-xl font-bold mb-1">Eduardo Benitez</h3>
        <p class="text-red-500 mb-4">CEO & Founder</p>
      </div>

      <!-- Team Member 3 -->
      <div class="bg-black p-6 group relative overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 mb-6 overflow-hidden">
          <img src="/team/member3.webp" alt="Carlos Ruiz" class="object-cover w-full h-full transform transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="text-xl font-bold mb-1">Andrés Gómez</h3>
        <p class="text-red-500 mb-4">Founder - Backend Dev & Servers</p>
       
      </div>

      <!-- Team Member 4 -->
      <div class="bg-black p-6 group relative overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 mb-6 overflow-hidden">
          <img src="/team/member4.jpg" alt="Elena Vázquez" class="object-cover w-full h-full transform transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="text-xl font-bold mb-1">Hector Pérez López</h3>
        <p class="text-red-500 mb-4">3D Modeler & Animator</p>
  
      </div>

      <!-- Team Member 5 -->
      <div class="bg-black p-6 group relative overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 mb-6 overflow-hidden">
          <img src="/team/member5.jpg" alt="Miembro 5" class="object-cover w-full h-full transform transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="text-xl font-bold mb-1">Kalo Armoa</h3>
        <p class="text-red-500 mb-4">3D Modeler & Web Designer</p>
        
      </div>

      <!-- Team Member 6 -->
      <div class="bg-black p-6 group relative overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 mb-6 overflow-hidden">
          <img src="/team/member6.jpg" alt="Miembro 6" class="object-cover w-full h-full transform transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="text-xl font-bold mb-1">Rodrigo Mendoza</h3>
        <p class="text-red-500 mb-4">Marketing</p>
        <p class="text-gray-300 text-sm">

        </p>
      </div>

      <!-- Team Member 7 -->
      <div class="bg-black p-6 group relative overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 mb-6 overflow-hidden">
          <img src="/team/member7.jpg" alt="Miembro 7" class="object-cover w-full h-full transform transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="text-xl font-bold mb-1">Humberto Pérez López</h3>
        <p class="text-red-500 mb-4">Humberto Pérez López</p>
        <p class="text-gray-300 text-sm">
       
        </p>
      </div>

      <!-- Team Member 8 -->
      <div class="bg-black p-6 group relative overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 mb-6 overflow-hidden">
          <img src="/team/member8.jpg" alt="Miembro 8" class="object-cover w-full h-full transform transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="text-xl font-bold mb-1">Yumi Barreto</h3>
        <p class="text-red-500 mb-4">Concept Art</p>
        <p class="text-gray-300 text-sm">
          
        </p>
      </div>

      <!-- Team Member 9 -->
      <div class="bg-black p-6 group relative overflow-hidden">
        <div class="aspect-w-3 aspect-h-4 mb-6 overflow-hidden">
          <img src="/team/member9.jpg" alt="Miembro 9" class="object-cover w-full h-full transform transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="text-xl font-bold mb-1">Ivo Porreca</h3>
        <p class="text-red-500 mb-4">Ivo Porreca</p>
        <p class="text-gray-300 text-sm">
        
        </p>
      </div>
    </div>
  </div>
</section>


    <!-- Contacto -->
    <section id="contacto" class="py-20 bg-black text-white">
      <div class="container mx-auto px-6">
        <div class="max-w-4xl mx-auto text-center">
          <h2 class="text-3xl sm:text-4xl font-extrabold mb-8">CONTÁCTANOS</h2>
          <p class="text-xl mb-12">
            ¿Tienes una idea para colaborar? ¿Preguntas sobre nuestros juegos? ¿Quieres unirte a nuestro equipo? Estamos aquí para escucharte.
          </p>

          <form class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-12">
            <div class="md:col-span-2">
              <input type="text" placeholder="Nombre" class="w-full p-4 bg-white/10 border border-white/20 text-white focus:border-red-600 focus:outline-none">
            </div>
            <div>
              <input type="email" placeholder="Email" class="w-full p-4 bg-white/10 border border-white/20 text-white focus:border-red-600 focus:outline-none">
            </div>
            <div>
              <input type="text" placeholder="Asunto" class="w-full p-4 bg-white/10 border border-white/20 text-white focus:border-red-600 focus:outline-none">
            </div>
            <div class="md:col-span-2">
              <textarea rows="5" placeholder="Mensaje" class="w-full p-4 bg-white/10 border border-white/20 text-white focus:border-red-600 focus:outline-none"></textarea>
            </div>
            <div class="md:col-span-2 text-center">
              <button type="submit" class="inline-block py-3 px-12 bg-red-600 text-white font-bold uppercase tracking-wide hover:bg-red-700 transition-colors">Enviar mensaje</button>
            </div>
          </form>

          <div class="flex flex-col md:flex-row justify-center items-center space-y-6 md:space-y-0 md:space-x-12">
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
              <p>info@waranistudios.com</p>
            </div>
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              <p>Calle Falsa 123, Asunción, Paraguay</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
