---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <section class="flex items-center justify-center min-h-screen bg-black">
      <h1 class="text-3xl text-center press-start-2p-regular text-red-500">PRÓXIMAMENTE</h1>
    </section>
  </Layout>
