---
import Layout from '../layouts/Layout.astro';
import Video from '../components/main/video.astro';
import About from '../components/main/about.astro';
---

<Layout>
    <main>
        <Video />
        <About />
    </main>
</Layout>
