---
// src/components/Header.astro
import Logo from '../assets/waralogo.png'; // Asegúrate de tener la imagen del logo en la carpeta assets
---

<header class="bg-black bg-opacity-80 text-white">
  <div class="container mx-auto flex justify-between items-center p-6">
    <div class="flex items-center">
      <img src='/waralogo.png' alt="Logo de Waraní" class="h-20 mr-8" />
    </div>
    <nav class="flex items-center space-x-8">
      <a href="#inicio" class="px-4 py-2 border-b-2 border-transparent hover:border-red-500 hover:text-gray-300 transition duration-300 focus:text-red-500 focus:border-red-500">Inicio</a>
      <a href="#quienes-somos" class="px-4 py-2 border-b-2 border-transparent hover:border-red-500 hover:text-gray-300 transition duration-300 focus:text-red-500 focus:border-red-500">Quiénes Somos</a>
      <a href="#nuestro-trabajo" class="px-4 py-2 border-b-2 border-transparent hover:border-red-500 hover:text-gray-300 transition duration-300 focus:text-red-500 focus:border-red-500">Nuestro Trabajo</a>
      <a href="#tienda" class="px-4 py-2 border-b-2 border-transparent hover:border-red-500 hover:text-gray-300 transition duration-300 focus:text-red-500 focus:border-red-500">Tienda</a>
      <a href="#contacto" class="px-4 py-2 border-b-2 border-transparent hover:border-red-500 hover:text-gray-300 transition duration-300 focus:text-red-500 focus:border-red-500">Contacto</a>
    </nav>
    <div class="flex items-center space-x-4">
      <a href="#" class="hover:text-gray-300 transition duration-300">
        <img src="/spain.svg" alt="España" class="h-10">
      </a>
      <a href="#" class="hover:text-gray-300 transition duration-300">
        <img src="/eeuu.svg" alt="USA" class="h-10">
      </a>
      <a href="#" class="hover:text-gray-300 transition duration-300"><i class="fab fa-facebook"></i></a>
      <a href="#" class="hover:text-gray-300 transition duration-300"><i class="fab fa-instagram"></i></a>
      <a href="#" class="hover:text-gray-300 transition duration-300"><i class="fab fa-youtube"></i></a>
      <a href="#" class="hover:text-gray-300 transition duration-300"><i class="fab fa-tiktok"></i></a>
    </div>
  </div>
</header>
